.App {
  text-align: center;
}

.box {
  box-sizing: border-box;
  width: 60%;
  height: 5%;
  float: left;
  margin: 50px 5%;
  font-size: 35px;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.226);
  box-shadow: 1px 2px 1px rgba(128, 128, 128, 0.171);

}

.secondbox  {
  box-sizing: border-box;
  width: 1210px;
  height: 500px;
  float: left;
  margin: 50px 5%;
  font-size: 35px;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.226);
  box-shadow: 1px 2px 1px rgba(128, 128, 128, 0.171);

}

.button {
  height: 57px;
  width: 200px;
  float: left;
  margin: 50px 5%;
  background-color: rgba(128, 128, 128, 0.521);
  font-size: 15px;
  color: white;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.226);
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.171);

}


.line {
  display: inline;
}